@import "tailwindcss";

/* Dark theme */
html.dark {
  background-color: black;
  color: white;
}

/* Light theme */
html:not(.dark) {
  background-color: #f5f5f5;
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
